#!/bin/bash

set -x

export PROJECT_NAME=symfony

if [ -z "${SYMFONY_VERSION}" ]; then
    echo "ERROR: Expecting SYMFONY_VERSION to be set."
    exit 1
fi

if [ ! -d "/symfony/${PROJECT_NAME}" ]; then
    cd /symfony
    if [ "${DEMO_MODE}" = "1" ]; then
        # Install the demo project from https://github.com/symfony/symfony-demo
        symfony demo ${PROJECT_NAME}

        # Fix cache and log directories
        cp /demo_config/AppKernel_demo_project.php /symfony/symfony/app/AppKernel.php
    else
        # Create a new project
        symfony new ${PROJECT_NAME} ${SYMFONY_VERSION}

        # Fix cache and log directories
        cp /demo_config/AppKernel_new_project.php /symfony/symfony/app/AppKernel.php
    fi

    # Use mariadb as the database
    cp /demo_config/parameters.yml.dist /symfony/symfony/app/config
    cp /demo_config/config.yml /symfony/symfony/app/config

    # Update parameters.yml
    cd ${PROJECT_NAME} 
    composer install --no-interaction --no-progress

    if [ "${DEMO_MODE}" = "1" ]; then
        # Load the database
        php bin/console doctrine:schema:create
        php bin/console doctrine:fixtures:load --no-interaction
    fi
fi

# Set the working directory to the project
cd /symfony/${PROJECT_NAME}

exec "$@"
